<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>  
       <!-- ===>  {{ (users$ | async) | json }} -->
</div>


<div class="example-container mat-elevation-z8">
 <mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> firstName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> lastName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.email}} </mat-cell>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> gender </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
    </ng-container>

    <!-- phoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> phoneNumber </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
    </ng-container>

    <!-- comments Column -->
    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef mat-sort-header> comments </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.comments}} </mat-cell>
    </ng-container>

    <!-- rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header> rating </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.rating}} </mat-cell>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.date}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
